.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  background: #525B88;
}

h1, h2, h3, h4, h5, h6, p, label {
  color: #fff;
}

.dark-color {
  color: #86B049 !important;
}

.text-custom-info {
  color: #86B049;
}

.btn-success {
  background: #86B049;
}

.logo { max-width: 330px; }

.nav-link {
  color: #fff;
}

.nav-link:focus, .nav-link:hover {
  color: #86B049;
}

.nav-active {
  color: #86B049;
  text-decoration: underline;
}

.document-hash-input {
  width: 590px;
  text-align: center;
}

.alert {
  max-width: 1600px;
}

.alert-danger h6 {
  color: #b10e0e;
}

.alert-danger p {
  color: #b10e0e;
}

.alert-info p {
  color: #343434;
}

/* Table styles */
th {
  color: #86B049;
}
